<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mój Sklep</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" >
</head>
<body class="flex-center">
  <header class="flex-center">
    <span class="title">Mój Sklep</span>
    <a href="" class="cart-ico">
      <div>
        <span>Koszyk</span>
        <span>(0)</span>
        <span>0</span>
        <span>zł</span>
      </div>
    </a>
  </header>
  <div class="main-content flex-center additem-page">
    <div class="summary">
      <h1>Dodaj przedmiot</h1>
      <form class="flex-center">
        <label>Nazwa</label>
        <input type="text">
        <label>Cena</label>
        <input type="text">
        <label>urlImg</label>
        <input type="text">
        <button>Dodaj</button>
      </form>
    </div>
  </div>
</body>
</html>