<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mój Sklep</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
</head>
<body class="flex-center">
  <header class="flex-center">
    <span class="title">Mój Sklep</span>
    <a href="" class="cart-ico">
      <div>
        <span>Koszyk</span>
        <span>(0)</span>
        <span>0</span>
        <span>zł</span>
      </div>
    </a>
  </header>
  <div class="main-content cartView-page">

    <table cellspacing="0">
        <tr>
            <th>No.</th>
            <th></th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Suma</th>
            <th></th>
        </tr>
        <tr>
            <td>1. </td>
            <td>
                <!-- <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg"> -->
            </td>
            <td>Ołówek</td>
            <td>
                <a href="" class="mbtn">-</a>
                <p>1</p>
                <a href="" class="mbtn">+</a>
            </td>
            <td>2.50</td>
            <td>
                <a href="" class="mbtn">X</a>
            </td>
        </tr>
    </table>

  </div>
</body>
</html>