<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mój Sklep</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
</head>
<body class="flex-center">
  <header class="flex-center">
    <span class="title">Mój Sklep</span>
    <a href="" class="cart-ico">
      <div>
        <span>Koszyk</span>
        <span>(0)</span>
        <span>0</span>
        <span>zł</span>
      </div>
    </a>
  </header>
  <div class="main-content flex-center">
    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    <div class="item flex-center">
      <p class="item-name"> Ołówek</p>
      <img src="https://sklep.muzeumwarszawy.pl/userdata/public/gfx/5133/olowek_naturalny.jpg" alt="olówek">
      <div>
        <span>Cena: </span>
        <span>2.70 </span>
        <span>zł</span>
      </div>
      <a href="" class="add-btn"> Dodaj do koszyka</a>
    </div>

    
  </div>
</body>
</html>